/*!
 * Toot Pay (https://github.com/klarizonemar/tootpay)
 * Author: Klarizon Emar Motol
 */

body {
    font-family: 'ProductSans';
    padding-bottom: 20px;
}

a {
    text-decoration: none !important;
}

footer {
    margin-top: 100px;
}

#search-form {
    margin-top: 15px;
}

.welcome {
    margin-top: -20px;
}

.navbar-brand {
    font-weight: 600;
}

.huge {
    font-size: 50px;
    font-weight: 600;
}

.fa-btn {
    margin-right: 6px;
}

.menu-merchandise li ul li img {
    height: 50px;
}

.panel-actions li {
    margin-top: 10px;
}

.panel-actions {
    margin-top: -25px;
    margin-bottom: 0px;
}

.days-merchandise li {
    margin-top: 10px;
}

.img-merchandise {
    margin-bottom: 10px;
}

.img-merchandise a img {
    display: block;
    margin: 0 auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}