.panel-heading, .panel-footer, .panel-body, .table {
    font-size: 20px;
}

.table th, .table td, .table-responsive {
    border: none !important;
}

.modal-body, .modal-title {
    font-size: 25px;
}

.list-inline {
    white-space: nowrap;
}

.cashier-view .col-md-6 .view .panel-body {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.cashier-view .col-md-6 .view {
    position: relative;
}

html, body, .cashier-view, .col-md-6, .panel, .item, .active {
    height: 100%;
}

body {
    padding-top: 20px;
}

.huge {
    font-size: 30px;
    height: auto;
}

.badge,
.list-unstyled li,
.list-unstyled li button,
.cashier-actions button,
.list-unstyled li form label,
.list-unstyled li form button,
.list-unstyled li form div div input,
.list-unstyled li form div div span {
    font-size: 30px;
    height: auto;
}

.list-unstyled li form div .input-group {
    width: 29% !important;
}

.cash-suggestion, .cashier-actions {
    margin-top: 15px;
}

.logout, .logout:visited {
    color: #fff;
}

.logout:hover {
    color: #ddd;
}