.panel-heading, .panel-footer, .panel-body, .table {
    font-size: 20px;
}

.table-responsive {
    border: none !important;
}

.list-inline {
    white-space: nowrap;
}

#queue_number {
    font-size: 300px;
    height: auto;
}

html, body, .cashier-view, .col-md-6, .panel {
    height: 100%;
}

.transactions {
    overflow-y: scroll;
}

.panel-body {
    height: calc(100% - 50px);
}

body {
    padding-top: 20px;
}

.modal-body,
.modal-footer,
.modal-title,
.modal-header,
.control-label,
.col-md-8 input,
.modal-footer span button,
.badge,
.list-unstyled li,
.list-unstyled li button,
.cashier-actions button,
.list-unstyled li form label,
.list-unstyled li form button,
.list-unstyled li form div div input,
.list-unstyled li form div div span,
.modal-body,
.modal-title {
    font-size: 25px !important;
    height: auto;
}

.list-unstyled li form div .input-group {
    width: 29% !important;
}

.cash-suggestion, .cashier-actions {
    margin-top: 15px;
}

.logout, .logout:visited {
    color: #fff;
}

.logout:hover {
    color: #ddd;
}