body {
    font-family: 'ProductSans';
    padding-bottom: 20px;
}

a {
    text-decoration: none !important;
}

#search-form {
    margin-top: 15px;
}

.welcome {
    margin-top: -20px;
}

.navbar-brand {
    font-weight: 600;
}

.huge {
    font-size: 50px;
    font-weight: 600;
}

.cashier-huge {
    font-size: 20px;
    height: auto;
}

.fa-btn {
    margin-right: 6px;
}

.menu-merchandise li ul li img {
    height: 50px;
}

.panel-actions li {
    margin-top: 10px;
}

.panel-actions {
    margin-top: -25px;
    margin-bottom: 0px;
}

.days-merchandise li {
    margin-top: 10px;
}

.img-merchandise-list-item {
    margin-bottom: 10px;
}

.img-merchandise-list-item a img {
    height: 100px;
    display: block;
    margin: 0 auto;
}

.img-merchandise a img {
    display: block;
    margin: 0 auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.reload-status-list {
    margin-bottom: 20px;
}

.cahier-header {
    margin-bottom: 20px;
}

.reload-actions {
    margin-top: 20px;
}

.cahier-header div h3 {
    margin-top: 0px;
}