body {
    font-family: 'ProductSans';
    padding-bottom: 20px;
}

a {
    text-decoration: none !important;
}

#search-form {
    margin-top: 15px;
}

.welcome {
    margin-top: -20px;
}

.navbar-brand {
    font-weight: 600;
}

.huge {
    font-size: 50px;
    font-weight: 600;
}

.cashier-huge {
    font-size: 20px;
    height: auto;
}

.fa-btn {
    margin-right: 6px;
}

.menu-merchandise li ul li img {
    height: 50px;
}

.panel-actions li {
    margin-top: 10px;
}

.panel-actions {
    margin-top: -25px;
    margin-bottom: 0px;
}

.days-merchandise li {
    margin-top: 10px;
}

.img-merchandise-list-item {
    margin-bottom: 10px;
}

.img-merchandise-list-item a img {
    height: 100px;
    display: block;
    margin: 0 auto;
}

.img-merchandise a img {
    display: block;
    margin: 0 auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.reload-status-list {
    margin-bottom: 20px;
}

.cahier-header {
    margin-bottom: 20px;
}

.reload-actions {
    margin-top: 20px;
}

.cahier-header div h3 {
    margin-top: 0px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #4b9ee4;
    border-color: #4b9ee4;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #4b9ee4;
}

.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #4b9ee4;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
    color: #ddd;
}

.navbar-default .navbar-nav > li > a:visited, .navbar-default .navbar-brand:visited {
    color: #fff;
}

@media (max-width: 768px) {
    .dropdown-menu li a {
        color: #fff !important;
    }

    .dropdown-menu li a:hover {
        color: #ddd !important;
    }

    .table-transaction {
        border: none;
    }
}

.table-transaction {
    margin-bottom: 0px;
}

.dropdown-menu li a:hover {
    background-color: #4b9ee4;
    color: #fff;
}

.loading-sales {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-header {
    margin-top: -20px;
}

.calendar {
    padding-bottom: 20px;
}

.btn-create {
    padding-bottom: 10px;
}

.logo {
    margin-top: -5px;
    height: 30px;
}

.logo-welcome {
    margin-left: -10px;
    margin-bottom: 20px;
    height: 60px;
}

.page-header h3 {
    font-weight: 900;
}

.jumbotron {
    background-color: #337ab7;
    color: #fff;
}

.faq {
    padding: 10px;

}

.faq .question {
    margin-bottom: 10px;
    font-size: 15px;
}

.faq .answer {
    font-size: 14px;
}