.panel-heading, .panel-footer, .panel-body, .table {
    font-size: 20px;
}

.borderless th, .borderless td, .table-responsive {
    border: none !important;
}

.huge-total, .modal-body, .modal-title, .order-actions li ul li button {
    font-size: 20px;
    height: auto;
}

.input-qty input {
    width: 80px;
}

.menu-footer {
    font-size: 20px;
}

.category-list {
    overflow-x: scroll;
}

.modal-header img {
    height: 50px;
    display: block;
    margin: 0 auto;
}

.grand-total {
    margin-bottom: 15px;
}

.grand-total strong {
    font-size: 50px;
}

.payment-method {
    margin-top: 15px;
}

.category-name {
    padding-bottom: 10px;
}

#queue_number {
    font-size: 300px;
    height: auto;
}

.merchandise-list {
    padding-top: 5px;
    overflow-y: scroll;
}

.merchandise-item a img {
    height: 120px;
}

.merchandise-item .modal .modal-dialog .modal-content .modal-body .row .col-md-6 img {
    height: 250px;
}

.list-inline {
    white-space: nowrap;
}

.order-actions {
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.nav-tabs {
    margin-left: 10px;
    margin-right: 10px;
}

.qty {
    padding-left: 10px;
    padding-right: 10px;
}

.table-cell-qty {
    width: 100%;
}

html, body, .col-md-6, .panel, .carousel, .item, .active, .carousel-inner {
    height: 100%;
}

body {
    padding-top: 20px;
}

.carousel-inner .item img {
    width: 100%;
    height: 100%;
}

.rfid-symbol-animated {
    padding-top: 150px;
    padding-bottom: 130px;
    display: block;
    margin: auto;
}

.huge {
    font-size: 30px;
    height: auto;
}

.huge-md {
    font-size: 40px;
    height: auto;
}

.input-unstyled {
    border: transparent;
    outline: transparent;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: transparent;
}
.bs-input-unstyled {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

#pin_code {
    margin-bottom: 15px;
}

.menu {
    padding: 30px;
}

.menu .row .col-md-3 img {
    height: 160px;
    width: 300px;
}

.menu .row .col-md-3 div {
    font-size: 25px;
    height: auto;
}

.user-orders {
    padding: 10px;
}